@font-face {
    font-family: 'Neutra';
    src: url(../fonts/NeutraText-Bold.woff2) format('woff2'),
        url(../fonts/NeutraText-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asap';
    src: url(../fonts/Asap-Regular.woff2) format('woff2'),
        url(../fonts/Asap-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Asap" !important;
}


canvas {
    display: block;
    border: 2px solid #888;
}
#cvshd, #cvs, #downloadlink {
     display: none;
}

fieldset {
  margin-bottom: 20px;
}

#imgs img {
    width: 100%;
    max-width: 700px;
}

#canvasContainer {
  /*  grid-column: 3;*/
    padding: 8px 3px;
}

#formContainer table tr td:first-child {
	text-align: right;
	padding-right: 5px;
    font-weight: bold;
    width: 141px;
}
#ratioOptions:hover #ratioTooltip {
    display: block;
}
#ratioOptions:hover #ratioTooltip {
    display: block;
}
#ratioTooltip, #pronounTooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px;
    font-size:16px;
    border-radius:12px;
}

#inputContainer #formContainer label {
  font-weight: bold;
}
